* {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #4e4e4e;
    font-size: 1rem;
}

body{
    text-align: center;
}

h1 {
margin: 50px auto;
text-align: center;
font-size: 5rem;
}

h2 {
    width: 80%;
    text-align: center;
    font-size: 2.5rem;
    /* padding: 25px 0px; */
    margin: auto;
}

h3 {
    width: 80%;
    text-align: center;
    font-size: 1.5rem;
    padding: 25px 0px;
    margin: auto;
}

button{
    background-color: rgb(0, 238, 255);
    border: 1px solid black;
    border-radius: 10%;
    cursor: pointer;
    margin: auto;
    padding: 40px 100px;
    font-size: 50px;
}

table {
    /* width was previously 80% with th/tr/td padding of 25px */
    width: 80%;
    border: 1px solid;
    border-collapse: collapse;
    table-layout: fixed;
    empty-cells: show;
    flex-direction: column;
    margin: auto;
    border-top: none;
    border-left: none;
}

th, tr, td {
    border: 1px solid;
    text-align: center;
    padding: 10px;
    background-color: rgb(63, 194, 255);
    border-color: white;
    color: white;

}

#onePlayer, #twoPlayer {
    margin: auto 150px;
}

#board1 td:hover, #board2 td:hover, #board3 td:hover{
    background-color: #00ff22;
    cursor: pointer;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 1px 1px 7px #000000;
    font-family: Arial;
    color: #ffffff;
    font-size: 60px;
    padding: 15px 40px 15px 40px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    box-shadow: 0 0.5em 0.5em -0.4em  #3cb0fd;
    text-decoration: none;
    transform: translateY(-0.25em);
  }

.donePlacingP1, .donePlacingP2, .donePlacingBot { 
    display: block;
    margin: 25px auto;
}

.vhTitle, .placeTitle {
    /* align-items: center; */
    /* display: block; */
    font-size: 25px;
    margin: auto;
    padding: 25px 0px;
    text-align: center;
}

.horizBtn, .vertBtn {
    /* align-items: center; */
    /* display: inline; */
    /* display: flex;
  justify-content: space-between; */
    /* width: 50%; */
    font-size: 25px;
    margin: 10px 35px;
    /* display: block; */
}

/* .board button {
    margin: auto;
} */


.gameField {
display: flex;
flex-direction: row;
/* flex-wrap: wrap; */
}

.board {
    /* justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto; */
    /* flex-wrap: wrap; */
    padding-bottom: 100px;

}

.hide {
    display: none;
}


.turn{
    color: white;
}

.score{
    font-size: 1.75rem;
    padding-bottom: 25px;
}

.isShip{
    /* background-color: #0077ff; */
    background-color: #4e4e4e;
}

.isShipHide{
    background-color: rgb(63, 194, 255);
}

.isMiss{
    background-color: white;
}

.isHit{
    background-color: red;
}

/* h2 {
    width: 80%;
    text-align: center;
    font-size: 2.5rem;
    margin: auto;
}

h3 {
    width: 80%;
    text-align: center;
    font-size: 1.5rem;
    padding: 25px 0px;
    margin: auto;
} */

.score1, .score2 {
    padding-bottom: 10px;
    color: red;
}

.rules0, .rules1, .rules2 {
    /* font-size: 25px;
    margin: auto;
    text-align: center; */
    padding: 10px 0px;
    font-weight: 900;
    color:rgb(255, 255, 255);
}


@media only screen and (max-width: 1024px) {
    .gameField {
        flex-direction: column;
    }
}