* {
    border: 0;
    margin: 0;
    padding: 0;
    /* background-color: #4e4e4e; */
    background-color: #011F3F;
    font-size: 1rem;
    /* overflow: hidden; */
}

body {
    text-align: center;
}

h1 {
    color: #3d3d3d;
    font-size: 5rem;
    margin: 25vh auto 5vh;
    text-align: center;
    -webkit-text-stroke: .5px white;
}

h2 {
    /* color: #3d3d3d; */
    color: white;
    font-size: 2.5rem;
    margin: auto;
    padding: 25px 0px;
    text-align: center;
    width: 80%;
    /* -webkit-text-stroke: .5px black; */
}

/* h3 {
    width: 80%;
    text-align: center;
    font-size: 1.5rem;
    padding: 25px 0px;
    margin: auto;
} */

button {
    background-color: rgb(0, 238, 255);
    border: 1px solid black;
    border-radius: 10%;
    cursor: pointer;
    margin: auto;
    padding: 40px 100px;
    font-size: 50px;
}

table {
    /* width was previously 80% with th/tr/td padding of 25px */
    width: 80%;
    border: 1px solid;
    border-collapse: collapse;
    table-layout: fixed;
    empty-cells: show;
    flex-direction: column;
    margin: auto;

    /* -webkit-box-shadow: 0px 10px 30px 3px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 10px 30px 3px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 10px 30px 3px rgba(255, 255, 255, 0.75);
     */

    -webkit-box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.75);
    /* border-top: none;
    border-left: none; */
}

th, tr, td {
    border: 1px solid;
    /* border-top: none;
    border-left: none; */
    text-align: center;
    padding: 10px;
    background-color: rgb(63, 194, 255);
    border-color: white;
    color: white;
}

#onePlayer, #twoPlayer {
    margin: 15px 150px;
}

#startBtn, #endTurnBtn {
    margin: 15px auto;
}

#board1, #board2, #board3 {
    margin-bottom: 25px;
}

/* #board1, #board2 { 
    -webkit-box-shadow: 0px 10px 30px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 30px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 30px 3px rgba(0,0,0,0.75);
} */

/* #board1 td:hover, #board2 td:hover, #board3 td:hover {
    background-color: #00ff22;
    cursor: pointer;
} */

.h1Start {
    margin: 15px auto 25px;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 1px 1px 7px #000000;
    font-family: Arial;
    color: #ffffff;
    font-size: 60px;
    padding: 15px 40px 15px 40px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    box-shadow: 0 0.5em 0.5em -0.4em #3cb0fd;
    text-decoration: none;
    transform: translateY(-0.25em);
}

.donePlacingP1, .donePlacingP2, .donePlacingBot {
    display: block;
    margin: 50px auto;
}

.vhTitle, .placeTitle {
    /* align-items: center; */
    /* display: block; */
    color: white;
    font-size: 25px;
    margin: auto;
    padding: 25px 0px;
    text-align: center;
    width: 100%;
}

.horizBtn, .vertBtn {
    /* align-items: center; */
    /* display: inline; */
    /* display: flex;
  justify-content: space-between; */
    /* width: 50%; */
    font-size: 25px;
    margin: 10px 35px;
    margin: 10px auto;
    width: 50%;
    /* display: block; */
}

/* .board button {
    margin: auto;
} */


.gameField {
    display: flex;
    /* flex-direction: row; */
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.boardPlay {
    flex-direction: row;
}

.hide {
    display: none;
}

.turn {
    color: white;
}

.isShip {
    background-color: #4e4e4e;
}

.isShipHide {
    background-color: rgb(63, 194, 255);
}

.isMiss {
    background-color: white;
}

.isHit {
    background-color: red;
}

.scoreboard {
    margin: 20px auto;
    width: 20%;
}

.scoreboardCell{
    font-size: 1rem;
    padding: 10px;
}

.scoreboardP{
    color: white;
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.scoreboardTitle .scoreboardCell, .scoreboardScore .scoreboardCell{
    background-color: #4e4e4e;
}

.scoreboardPlayer .scoreboardCell {
    background-color: #8d8d8d;
}

.leadScore {
    color: green;
}

.losingScore{
    color: red;
}

.equalScore{
    color: blue;
}

.rules0, .rules1, .rules2 {
    /* font-size: 25px;
    margin: auto;
    text-align: center; */
    padding: 10px 0px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.endGameP {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 20px;
}







@media only screen and (min-width: 1024px) {
    #board1 td:hover, #board2 td:hover, #board3 td:hover {
        background-color: #00ff22;
        cursor: pointer;
    }
}






@media only screen and (max-width: 1024px) {

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    p, .vhTitle, .scoreboardCell {
        font-size: 1.5rem;
    }

    #startBtn, #endTurnBtn {
        padding: 20px 50px;
        font-size: 25px;
    }

    .h1Start {
        margin: 15px auto;
    }

    .btn {
        font-size: 40px;
    }

    .horizBtn, .vertBtn{
        font-size: 25px;
        width: 70%;
    }

    .gameField {
        flex-direction: column;
    }

    .donePlacingP1, .donePlacingP2, .donePlacingBot {
        font-size: 35px;
    }

    .scoreboard {
        width: 40%;
    }
}








@media only screen and (max-width: 604px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: .75rem;
    }

    #onePlayer, #twoPlayer {
        margin: 15px auto;
    }

    #startBtn, #endTurnBtn {
        font-size: 15px;
    }

    .tableHead {
        font-size: 10px;
    }

    .btn {
        font-size: 30px;
    }

    .horizBtn, .vertBtn{
        font-size: 15px;
        width: 62%;
    }

    .vhTitle, .placeTitle, .scoreboardP {
        font-size: 1rem;
    }

    .donePlacingP1, .donePlacingP2, .donePlacingBot {
        font-size: 15px;
        width: 75%;
    }

    .scoreboard {
        width: 60%;
    }

    .scoreboardCell {
        font-size: .8rem;
        padding: 10px;
    }
}